@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 6rem;
  font-weight: 800;
}

/* Base Styles */
.logo,
.nav-link,
.auth-link {
  text-decoration: none;
  color: inherit;
}

/* Layout Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.links-container {
  display: flex;
}

.nav-links,
.auth-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin: 0 10px;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #555;
}

.auth-link {
  margin-left: 10px;
  transition: color 0.3s;
}

.start-free {
  background: #4F46BA;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

/* State Styles */
.auth-link:hover,
.nav-link:hover {
  text-decoration: underline;
}

/* This CSS example uses CSS custom properties for consistency and ease of maintenance. */
.footer {
  color: #181433;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.footer-content .footer-section h4 {
  font-size: 20px;
}
.footer-content .footer-section p,
.footer-content .footer-section a {
  color: #181433;
  text-decoration: none;
  font-size: 1.5rem;
}
.footer-content .footer-description {
  width: 20rem;
}
.footer-content .footer-section p {
  margin: 1.2rem 0;
  color: #757095;
  line-height: 2rem;
}
.footer-content .footer-section ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.footer-content .footer-section ul li {
  margin-block: 10px;
}

.social-links {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}
.social-links i {
  color: #3734A9;
}

.footer-section li {
  padding: 0;
  margin: 0;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8em;
  color: #181433;
}

.news-letter {
  display: flex;
  align-items: center;
}

input:focus {
  outline: none;
}

input.input-newsletter {
  height: 5rem;
  border-radius: 0.8rem;
  border: none;
  padding: 1rem;
  background-color: #EEEEFF;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

input.input-newsletter::placeholder {
  padding-left: 1.2rem;
  font-size: 1.8rem;
}

input:focus::placeholder {
  color: transparent;
}

.newsletter-header {
  margin-bottom: 5px;
}

.footer-section-newsletter p {
  width: 35rem;
}

.news-letter button {
  height: 5rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
  border: none;
  width: 14rem;
  background-color: #3734A9;
  font-size: 1.8rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.footer-divider {
  border: 0;
  height: 2px;
  background-color: #E5E5EA;
  width: 80%;
  margin: 0 auto;
}

.copyright {
  font-size: 1.6rem;
  margin-block: 2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-section {
    margin-bottom: 20px;
  }
  .footer-divider {
    width: 90%;
  }
}
.call-to-action {
  text-align: center;
  background-color: #3734A9;
  margin: 8rem 10rem;
  border-radius: 1rem;
  padding: 2rem;
  height: 40rem;
  position: relative;
}
.call-to-action .centered-content {
  position: absolute;
  top: 28%;
  left: 25%;
  color: #FFFFFF;
}
.call-to-action h2 {
  width: 70rem;
  font-size: 4.8rem;
  line-height: 6rem;
  font-weight: 800;
}
.call-to-action button {
  width: 22rem;
  height: 6.5rem;
  background-color: #FF7F5C;
  border-radius: 1rem;
  border: none;
  margin-block: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFFFFF;
}
.call-to-action .svg1 {
  position: absolute;
  top: 25%;
  right: 15%;
  height: 1.7rem;
  width: 10.5rem;
}
.call-to-action .svg2 {
  position: absolute;
  top: 49%;
  right: 10%;
  height: 16.1rem;
  width: 16.1rem;
}
.call-to-action .svg3 {
  position: absolute;
  top: 22%;
  left: 22.3%;
  height: 14.8rem;
  width: 14.8rem;
}

.svg4 {
  position: absolute;
  top: 55%;
  left: 15%;
  height: 10.2rem;
  width: 1.6rem;
}

.svg5 {
  position: absolute;
  top: 47%;
  left: 27%;
  height: 8.3rem;
  width: 8.3rem;
}

@media only screen and (max-width: 768px) {
  .call-to-action {
    text-align: center;
    background-color: #3734A9;
    margin: 3rem 2rem;
    border-radius: 1rem;
    height: 35rem;
  }
  .call-to-action .centered-content {
    position: absolute;
    top: 13%;
    left: 15%;
    color: #FFFFFF;
  }
  .call-to-action h2 {
    width: 30rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .call-to-action button {
    width: 14rem;
    height: 5rem;
    margin-block: 1rem;
    font-size: 1.3rem;
  }
  .call-to-action .svg1 {
    top: 9%;
    right: 9%;
    height: 1rem;
    width: 5.5rem;
  }
  .call-to-action .svg2 {
    top: 30%;
    right: 7%;
    height: 8.1rem;
    width: 8.1rem;
  }
  .call-to-action .svg3 {
    top: 11%;
    left: 7.3%;
    height: 4.8rem;
    width: 4.8rem;
  }
  .svg4 {
    top: 28%;
    left: 10%;
    height: 5.2rem;
    width: 1.6rem;
  }
  .svg5 {
    top: 21%;
    left: 13%;
    height: 4.3rem;
    width: 4.3rem;
  }
}
.faq {
  position: relative;
}

.faq-content {
  margin-inline: 8rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5rem;
}
.faq-content h1 {
  line-height: 7.6rem;
}

.faq-container {
  display: flex;
  justify-content: space-between;
}

.faq-direct-mail {
  width: 40.1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #CFCFCF;
  border-radius: 1rem;
}
.faq-direct-mail h3 {
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: #000000;
  margin-block: 3rem;
}
.faq-direct-mail p {
  font-size: 1.6rem;
  line-height: 3.1rem;
  letter-spacing: 2%;
  margin-block: 1rem;
  text-align: center;
}
.faq-direct-mail button {
  margin: 6rem 0 3rem 0;
  width: 33.7rem;
  height: 7.6rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 3.1rem;
  background-color: #FF7F5C;
  color: #FFFFFF;
  border: none;
}

.answer {
  display: none;
  font-size: 1.6rem;
  line-height: 3.1rem;
  font-weight: 400;
}

.question-title {
  margin: 0;
  color: #000000;
  font-size: 2.2rem;
}

.faq-detail {
  width: 75.1rem;
  height: 51.2rem;
}

.question {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
  border: 1px solid #CFCFCF;
  border-radius: 10px;
  padding: 10px;
}

.question-header {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.toggle-answer {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3.5rem;
  color: #000000;
}

.message-icon {
  font-size: 6rem;
  margin-top: 7rem;
}

.faq-style-svg .faq-svg1 {
  position: absolute;
  top: 13%;
}
.faq-style-svg .faq-svg2 {
  position: absolute;
  right: 5%;
  top: 1%;
}

.recent-blog {
  margin-inline: 8rem;
}
.recent-blog h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: #000000;
  margin-top: 3rem;
}
.recent-blog p {
  margin-block: 2rem;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: #000000;
}
.recent-blog .blog-post {
  margin-top: 1.5rem;
  height: 285px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.recent-blog .blog-post .blog-post-cta a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1B1C31;
}

.blog-content {
  margin-block: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.blog-content .bog-card {
  width: 382px;
  height: 436px;
}
.blog-content .bog-card p {
  width: 310px;
}

.blog-card-description {
  width: 382px;
  height: 195px;
}

@media screen and (max-width: 768px) {
  .recent-blog {
    margin-inline: 1rem;
  }
  .recent-blog h1 {
    font-size: 4rem;
  }
  .recent-blog h3 {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .recent-blog p {
    margin-block: 1.5rem;
    font-size: 1.9rem;
    line-height: 2.6rem;
  }
  .recent-blog .blog-post {
    flex-direction: column;
    margin-top: 0;
    height: auto;
    gap: 1rem;
  }
  .recent-blog .blog-post .blog-post-cta a {
    font-size: 1rem;
  }
  .recent-blog .blog-content {
    margin-block: 1.5rem;
    flex-direction: column;
    gap: 1rem;
  }
  .blog-card-description {
    height: 160px;
  }
}
.stats-section {
  background-color: #3734A9;
  position: relative;
  height: 256px;
}
.stats-section .stats-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 6rem;
}
.stats-section .stats-details .stat-item {
  position: relative;
}
.stats-section .stats-details .stat-item .description {
  font-size: 1.9rem;
  width: 143px;
  height: 93px;
  line-height: 31px;
}
.stats-section .stats-details .stat-item p {
  font-size: 7.2rem;
  color: #FFFFFF;
}
.stats-section .stats-details .stat-item .stat-item-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #FFFFFF;
}
.stats-section .stats-details .stat-item .stat-item-content i {
  color: #B1CA16;
  font-size: 2rem;
}
.stats-section .stats-details .stat-item .stat-item-content h2 {
  font-size: 3rem;
  line-height: 3.1rem;
  font-weight: 400;
}
.stats-section .stats-details .vertical-line::after {
  content: "";
  position: absolute;
  top: -80px;
  width: 1px;
  background-color: black;
  right: -35px;
  height: 256px;
}
.stats-section .stat-image img {
  position: absolute;
  top: 15%;
  right: 0;
  height: 120px;
}

@media screen and (max-width: 768px) {
  .stats-section {
    height: auto;
  }
  .stats-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-block: 3rem;
    gap: 4rem;
  }
  .stats-details .stat-item {
    position: relative;
  }
  .stats-details .stat-item .description {
    font-size: 1.9rem;
    width: 143px;
    height: 93px;
    line-height: 31px;
  }
  .stats-details .stat-item p {
    font-size: 4.2rem;
    color: #FFFFFF;
  }
  .stats-details .stat-item .stat-item-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #FFFFFF;
  }
  .stats-details .stat-item .stat-item-content i {
    color: #B1CA16;
    font-size: 2rem;
  }
  .stats-details .stat-item .stat-item-content h2 {
    font-size: 3rem;
    line-height: 3.1rem;
    font-weight: 400;
  }
  .stats-details .vertical-line::after {
    display: none;
  }
  img {
    display: none;
  }
}
.testimonial-section {
  position: relative;
  margin: 8rem 10rem;
}
.testimonial-section h1 {
  color: #000000;
  margin-block: 3rem;
}
.testimonial-section p {
  color: #000000;
  font-size: 1.6rem;
  line-height: 2.9rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.testimonial-section .testimonial-style-image {
  position: absolute;
  right: 0%;
  top: 2%;
}
.testimonial-section .testimonial-content {
  position: relative;
}
.testimonial-section .testimonial-content .quote-symbol1 {
  position: absolute;
  top: -5%;
  left: 8%;
}
.testimonial-section .testimonial-content .quote-symbol2 {
  position: absolute;
  top: -5%;
  left: 68%;
}
.testimonial-section .testimonial-content i {
  font-size: 4rem;
}
.testimonial-section .testimonial-content .testimonial-detail {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
}
.testimonial-section .testimonial-content .testimonial-detail .testimonail-card {
  border: 1px solid #CFCFCF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 699px;
  height: 430px;
  padding: 2rem;
}
.testimonial-section .testimonial-content .testimonial-detail .testimonail-card .card-text p {
  font-size: 2.5rem;
  line-height: 3.6rem;
  font-weight: 600;
  height: 180px;
  width: 368px;
  margin-bottom: 3rem;
}
.testimonial-section .testimonial-content .testimonial-detail .testimonail-card .card-text h5 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .testimonial-section {
    margin: 2rem;
  }
  .testimonial-section h1 {
    font-size: 4rem;
    margin-block: 1rem;
  }
  .testimonial-section p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  .testimonial-section .testimonial-style-image {
    display: none;
  }
  .testimonial-section .testimonial-content {
    flex-direction: column;
    /* Arrange testimonial cards in a column */
    gap: 2rem;
  }
  .testimonial-section .testimonial-content .quote-symbol1,
  .testimonial-section .testimonial-content .quote-symbol2 {
    display: none;
  }
  .testimonial-section .testimonial-content .testimonial-detail {
    flex-direction: column;
    gap: 2rem;
  }
  .testimonial-section .testimonial-content .testimonial-detail .card-text {
    width: auto;
    height: auto;
    margin-bottom: 1rem;
  }
  .testimonial-section .testimonial-content .testimonial-detail .card-image {
    width: auto;
    height: auto;
  }
  .testimonial-section .testimonial-content .testimonial-detail .testimonail-card {
    border: 1px solid #CFCFCF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 380px;
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }
  .testimonial-section .testimonial-content .testimonial-detail .testimonail-card .card-text p {
    font-size: 2.5rem;
    line-height: 3.6rem;
    font-weight: 600;
    height: auto;
    width: 250px;
    margin-bottom: 3rem;
  }
}
.feature-section {
  margin-inline: 8rem;
  background-color: #C9E7F2;
  padding: 5rem 8rem;
}
.feature-section p {
  font-size: 1.6rem;
  line-height: 2.9rem;
  font-weight: 400;
  margin-top: 2rem;
}

.feature-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.feature-card:not(:last-child) {
  border: 1px solid #ABC8D2;
  padding-inline: 2rem;
}

.feature-card {
  width: 330px;
  height: 338px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 1rem;
  margin-top: 4rem;
}
.feature-card i {
  font-size: 4rem;
}
.feature-card h3 {
  font-size: 2.2rem;
  line-height: 3.5rem;
  font-weight: 800;
  color: #000000;
}
.feature-card .row1, .feature-card .row2 {
  border: 1px solid #ABC8D2;
  height: 153px;
  width: 330px;
  padding-inline: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.feature-card .row1 {
  margin-bottom: 16px;
}
.feature-card .row2 {
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .feature-section {
    margin-inline: 2rem;
    padding: 2rem 1rem;
  }
  .feature-section h1 {
    font-size: 3rem;
  }
  .feature-section p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 1rem;
  }
  .feature-detail {
    flex-direction: column;
    gap: 2rem;
  }
  .feature-card {
    width: 330px;
    padding-block: 2rem;
    gap: 2rem;
    height: auto;
  }
  .feature-card i {
    font-size: 3rem;
  }
  .feature-card h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .feature-card .row1,
  .feature-card .row2 {
    border: 1px solid #ABC8D2;
    height: auto;
    width: 325px;
    padding: 2rem 2rem;
  }
  .feature-card .row1 {
    margin-bottom: 1px;
  }
  .feature-card .row2 {
    margin-top: 1px;
  }
}
.column1-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 402px;
  height: 197px;
  position: relative;
  padding: 1rem;
  background-color: #C4C4C4;
  border-radius: 1rem;
}
.column1-testimonial .quote-symbol1 {
  position: absolute;
  top: -7.5%;
  left: 16%;
}
.column1-testimonial .quote-symbol1 i {
  font-size: 3rem;
}
.column1-testimonial p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.column1-testimonial h5 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 600;
}

.about-us {
  background-color: #F5F6F8;
  padding: 5rem 5rem;
}
.about-us h2 {
  font-size: 5.6rem;
  line-height: 6.6rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.about-us p {
  font-weight: 400;
}

.column1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 6rem;
  flex-wrap: wrap;
}
.column1 p {
  font-size: 1.6rem;
  line-height: 2.9rem;
}

.column2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.column2 .column2-detail {
  width: 380px;
  height: 382px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid #DBE4E9;
  padding-inline: 2rem;
  border-radius: 1rem;
}
.column2 .column2-detail p {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 800;
}
.column2 .column2-detail .column2-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}
.column2 .column2-detail .column2-card i {
  font-size: 4rem;
}
.column2 .column2-detail .column2-card h3 {
  font-size: 3rem;
  line-height: 3.4rem;
  font-weight: 800;
}
.column2 .column2-detail .column2-card p {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 400;
}

.column3 {
  margin-block: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}
.column3 .img1 {
  position: absolute;
  top: 0;
  left: 0.1%;
}
.column3 .img2 {
  position: absolute;
  top: 71%;
  left: 0.1%;
}
.column3 .img3 {
  position: absolute;
  top: 25%;
  left: 88.3%;
}
.column3 .img4 {
  position: absolute;
  top: -5%;
  left: 88.3%;
}
.column3 .track-container {
  position: relative;
  width: 603px;
  height: 480px;
  display: flex;
  align-items: center;
  z-index: 99;
  justify-content: flex-end;
  background: rgb(216, 227, 220);
  background: linear-gradient(90deg, rgb(216, 227, 220) 0%, rgb(225, 224, 230) 31%, rgb(221, 226, 233) 100%);
}
.column3 .live-track-payment {
  width: 556px;
  height: 415px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 999;
}
.column3 .live-track-payment .user-contnet {
  width: 433px;
  height: 85px;
  background-color: #FFFFFF;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding-inline: 1rem;
}
.column3 .live-track-payment .user-contnet .user-detail button {
  height: 26px;
  width: 86px;
  border: none;
  border-radius: 1rem;
  color: #3734A9;
  font-size: 1.5rem;
  line-height: 1.4rem;
  font-weight: 700;
}
.column3 .live-track-payment .user-contnet .user-detail p {
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 400;
  margin-top: 5px;
}
.column3 .live-track-features {
  width: 490px;
  height: 469px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.column3 .live-track-features h4 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #3734A9;
}
.column3 .live-track-features h2 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 800;
}
.column3 .live-track-features p {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 400;
}
.column3 .live-track-features hr {
  width: 100%;
}
.column3 .live-track-features .benefit-list span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.column3 .live-track-features .benefit-list span i {
  color: #FDBC64;
  font-size: 2.4rem;
}
.column3 .live-track-features .benefit-list span p {
  font-size: 1.9rem;
  line-height: 3rem;
  font-weight: 400;
}

.column4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  flex-wrap: wrap;
}
.column4 .live-track-features {
  width: 490px;
  height: 469px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.column4 .live-track-features h4 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #3734A9;
}
.column4 .live-track-features h2 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 800;
}
.column4 .live-track-features p {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 400;
}
.column4 .column1-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 497px;
  height: 152px;
  position: relative;
  padding: 1rem;
  background-color: #C4C4C4;
  border-radius: 1rem;
}
.column4 .column1-testimonial .quote-symbol1 {
  position: absolute;
  top: -7.5%;
  left: 16%;
}
.column4 .column1-testimonial .quote-symbol1 i {
  font-size: 3rem;
}
.column4 .column1-testimonial p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.column4 .column1-testimonial h5 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 600;
}
.column4 .transaction-graph {
  position: relative;
}
.column4 .transaction-graph .img5 {
  position: absolute;
  left: -9%;
  bottom: 69%;
}
.column4 .transaction-graph .img6 {
  position: absolute;
  top: -27%;
  left: 0.1%;
}
.column4 .transaction-graph .img7 {
  position: absolute;
  top: 42%;
  left: -43.9%;
}
.column4 .transaction-graph .transaction-content {
  background-color: #DBF1FA;
  height: 540px;
  width: 486px;
}

/*# sourceMappingURL=style.css.map */
