<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/css/style.css" />
    <script
      src="https://kit.fontawesome.com/92e2e30a2f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="about-us">
      <div class="about-us-column">
        <div class="column1">
          <div class="column1-detail">
            <h2>Automated <br />portfolio tracking</h2>
            <p>
              Yet bed any for travelling assistance indulgence unpleasing.
              <br />
              Not thoughts all exercise blessing.
            </p>
          </div>
          <div class="column1-testimonial">
            <div class="quote-symbol1">
              <i class="fa-solid fa-quote-left"></i>
            </div>
            <div class="card-text">
              <p>
                Wise busy past both park when an ye no. Nay likely her length
                sooner thrown sex lively income. The expense windows . Blessing
                welcomed ladyship.
              </p>
              <h5>- Mike Taylor, Web Designer</h5>
            </div>
          </div>
        </div>

        <div class="column2">
          <div class="column2-detail">
            <p class="unique-number">01</p>
            <div class="column2-card">
              <i class="fa-solid fa-credit-card"></i>
              <h3>Connect wallets & companies</h3>

              <p>
                Indulgence way everything joy alteration <br />
                boisterous the attachment. Party we years <br />to order allow
                asked of.
              </p>
            </div>
          </div>
          <div class="column2-detail">
            <p class="unique-number">02</p>

            <div class="column2-card">
              <i class="fa-solid fa-credit-card"></i>
              <h3>Review <br />transactions</h3>
              <p>
                Indulgence way everything joy alteration <br />
                boisterous the attachment. Party we years <br />to order allow
                asked of.
              </p>
            </div>
          </div>
          <div class="column2-detail">
            <p class="unique-number">03</p>

            <div class="column2-card">
              <i class="fa-solid fa-credit-card"></i>
              <h3>Get income <br />insights</h3>

              <p>
                Indulgence way everything joy alteration <br />
                boisterous the attachment. Party we years <br />to order allow
                asked of.
              </p>
            </div>
          </div>
        </div>
        <div class="column3">
          <div class="track-container">
            <img class="img1" src="/images/Ellipse 1900.png" alt="" />
            <img class="img2" src="/images/Ellipse 1901.png" alt="" />

            <img class="img3" src="/images/Ellipse 1899.png" alt="" />
            <img class="img4" src="/images/10.png" alt="" />

            <div class="live-track-payment">
              <div class="user-contnet" style="margin-left: 2rem">
                <img src="/images/Ellipse 40.png " alt="" />
                <div class="user-detail">
                  <button>+ $28,900</button>
                  <p>Received from Michael V</p>
                </div>
              </div>
              <div class="user-contnet" style="margin-left: 8.5rem">
                <img src="/images/Ellipse 41.png " alt="" />
                <div class="user-detail">
                  <button>+ $28,900</button>
                  <p>Received from Michael V</p>
                </div>
              </div>
              <div class="user-contnet" style="margin-left: 5rem">
                <img src="/images/Ellipse 42.png " alt="" />
                <div class="user-detail">
                  <button>+ $28,900</button>
                  <p>Received from Michael V</p>
                </div>
              </div>
              <div class="user-contnet" style="margin-left: 0">
                <img src="/images/Ellipse 43.png " alt="" />
                <div class="user-detail">
                  <button>+ $28,900</button>
                  <p>Received from Michael V</p>
                </div>
              </div>
            </div>
          </div>

          <div class="live-track-features">
            <h4>Why Choose Us</h4>
            <h2>
              Track your payments <br />
              on the go with the <br />best way possible
            </h2>
            <p>
              Indulgence way everything joy alteration boisterous <br />
              the attachment. Party we years to order allow asked of.
            </p>
            <hr />
            <div class="benefit-list">
              <span class="benefit-item">
                <i class="fa-solid fa-circle-check"></i>
                <p>Get Overview at a glance</p>
              </span>
              <span class="benefit-item">
                <i class="fa-solid fa-circle-check"></i>
                <p>Deoposit funds esaily, security</p>
              </span>
              <span class="benefit-item">
                <i class="fa-solid fa-circle-check"></i>
                <p>Get Live Support</p>
              </span>
            </div>
          </div>
        </div>
        <div class="column4">
          <div class="live-track-features">
            <h4>Why Choose Us</h4>
            <h2>
              Save money with <br />
              proper transcation
            </h2>
            <p>
              We so opinion friends me message as delight. <br />
              Whole front do of plate heard oh ought. His <br />
              defective nor convinced residence own.
            </p>
            <div class="column1-testimonial">
              <div class="quote-symbol1">
                <i class="fa-solid fa-quote-left"></i>
              </div>
              <div class="card-text">
                <p>
                  Wise busy past both park when an ye no. Nay likely her length
                  sooner thrown sex lively income. The expense windows .
                </p>
                <h5>- Mike Taylor, Web Designer</h5>
              </div>
            </div>
          </div>

          <div class="transaction-graph">
            <div class="transaction-content"></div>

            <img class="img5" src="/images/11.png" alt="" />
            <img class="img6" src="/images/12.png" alt="" />
            <img class="img7" src="/images/13.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
