<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/css/style.css" />
    <script
      src="https://kit.fontawesome.com/92e2e30a2f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="faq">
      <div class="faq-content">
        <h1>Fequently <br />asked questions</h1>

        <div class="faq-container">
          <section class="faq-detail">
            <article class="question" id="question1">
              <div class="question-header">
                <h2 class="question-title">
                  The expense windows adapted sir. Wrong widen drawn.
                </h2>
                <button class="toggle-answer">+</button>
              </div>
              <div class="answer">
                Offending belonging promotion provision an be oh consulted
                ourselves it. Blessing welcomed ladyship she met humoured sir
                breeding her.
              </div>
            </article>
            <article class="question" id="question2">
              <div class="question-header">
                <h2 class="question-title">
                  Six curiosity day assurance bed necessary?
                </h2>
                <button class="toggle-answer">+</button>
              </div>
              <div class="answer">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </article>
            <article class="question" id="question3">
              <div class="question-header">
                <h2 class="question-title">
                  Produce say the ten moments parties?
                </h2>
                <button class="toggle-answer">+</button>
              </div>
              <div class="answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                aut eligendi, animi adipisci cum ratione.
              </div>
            </article>
            <article class="question" id="question4">
              <div class="question-header">
                <h2 class="question-title">
                  Simple innate summer fat appear basket his desire joy?
                </h2>
                <button class="toggle-answer">+</button>
              </div>
              <div class="answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                aut eligendi, animi adipisci cum ratione.
              </div>
            </article>
            <article class="question" id="question5">
              <div class="question-header">
                <h2 class="question-title">
                  Outward clothes promise at gravity do excited?
                </h2>
                <button class="toggle-answer">+</button>
              </div>
              <div class="answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                aut eligendi, animi adipisci cum ratione.
              </div>
            </article>
            <!-- Add more questions and answers as needed -->
          </section>

          <div class="faq-direct-mail">
            <i class="fa-solid fa-message message-icon"></i>
            <h3>Do you have more questions?</h3>
            <p>
              End-to-end payments and financial <br />management in a single
              solution. Meet the <br />right platform to help realize.
            </p>
            <button>Shoot a Direct Mail</button>
          </div>
        </div>
      </div>
      <div class="faq-image">
        <img class="faq-img1" src="/images//faq1.png" alt="" />
        <img class="faq-img2" src="/images/faq2.png" alt="" />
      </div>
    </div>

    <script src="/script.js"></script>
  </body>
</html>
