<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/css/style.css" />
    <script
      src="https://kit.fontawesome.com/92e2e30a2f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="feature-section">
      <h1 class="feature-heading">Features that blows mind</h1>
      <p>
        We so opinion friends me message as delight. Whole front do of plate
        heard <br />oh ought. His defective nor convinced residence own.
      </p>

      <div class="feature-detail">
        <div class="feature-card">
          <i class="fa-solid fa-credit-card"></i>
          <h3>Really boy law county she unable her sister</h3>
          <p>
            We so opinion friends me message as delight. Whole front do of plate
            heard oh ought.
          </p>
        </div>
        <div class="feature-card">
          <i class="fa-solid fa-credit-card"></i>
          <h3>Among sex are leave law built now</h3>
          <p>
            We so opinion friends me message as delight. Whole front do of plate
            heard oh ought.
          </p>
        </div>
        <div class="feature-card feature-card-headings">
          <div class="row1">
            <h3>Merits behind on afraid or warmly</h3>
          </div>
          <div class="row2">
            <h3>Believing neglected so so allowance existence</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
