<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/css/style.css" />
    <script
      src="https://kit.fontawesome.com/92e2e30a2f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <!-- Logo and Name (Logo Container) -->
        <div class="logo-container">
          <a href="/" class="logo"> AR SHAKIR </a>
        </div>

        <!-- Nav Links and Authentication Links Container (Links Container) -->
        <div class="links-container">
          <!-- Navigation Links -->
          <div class="nav-links">
            <a href="/about" class="nav-link">About</a>
            <a href="/services" class="nav-link">Services</a>
            <a href="/contact" class="nav-link">Contact</a>
          </div>

          <!-- Authentication Links -->
          <div class="auth-links">
            <a href="/signin" class="auth-link">Sign In</a>
            <a href="/start-free" class="auth-link start-free">Start Free</a>
          </div>
        </div>
      </nav>

      <section class="hero-content">
        <div class="hero-text">
          <h1>
            Managing freelance <br />
            payments has never <br />
            been easier
          </h1>
          <p>
            Yet bed any for travelling assistance indulgence <br />
            unpleasing. Not thoughts all exercise blessing.
          </p>
          <div class="hero-cta-section">
            <button>Get Started</button>
            <span>
              <i class="fa-solid fa-circle-play"></i>
              <p>See How It Works</p>
            </span>
          </div>

          <div class="benefit-list">
            <span class="benefit-item">
              <i class="fa-solid fa-circle-check"></i>
              <p>Free Register</p>
            </span>
            <span class="benefit-item">
              <i class="fa-solid fa-circle-check"></i>
              <p>Great Service</p>
            </span>
          </div>
        </div>
        <div class="hero-image">
          <div hero-main-image-section>
            <div class="ecllipse">
              <img class="img15" src="/images/15.png" alt="" />
            </div>

            <div class="main-iamge">
              <img class="img10" src="/images/16.png" alt="" />
              <img class="img11" src="/images/17.png" alt="" />

              <img class="img12" src="/images/18.png" alt="" />
            </div>
          </div>
          <div class="image-gallery">
            <img class="img13" src="/images/24.png" alt="" />

            <img class="img14" src="/images/20.png" alt="" />
            <img class="img15" src="/images/19.png" alt="" />
          </div>
        </div>
      </section>
    </header>
  </body>
</html>
