<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/css/style.css" />
  </head>
  <body>
    <!-- Navbar Container -->
    <nav class="navbar">
      <!-- Logo and Name (Logo Container) -->
      <div class="logo-container">
        <a href="/" class="logo"> AR SHAKIR </a>
      </div>

      <!-- Nav Links and Authentication Links Container (Links Container) -->
      <div class="links-container">
        <!-- Navigation Links -->
        <div class="nav-links">
          <a href="/about" class="nav-link">About</a>
          <a href="/services" class="nav-link">Services</a>
          <a href="/contact" class="nav-link">Contact</a>
        </div>

        <!-- Authentication Links -->
        <div class="auth-links">
          <a href="/signin" class="auth-link">Sign In</a>
          <a href="/start-free" class="auth-link start-free">Start Free</a>
        </div>
      </div>
    </nav>
  </body>
</html>
