<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/css/style.css" />
    <script
      src="https://kit.fontawesome.com/92e2e30a2f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="recent-blog">
      <h1>Recent Blog</h1>
      <article class="blog-post">
        <div class="blog-post-cta">
          <h3>Best Practices</h3>
          <p>
            In design active temper be uneasy.<br />
            Thirty for remove plenty regard.
          </p>
          <a href="#">Read More -></a>
        </div>
        <figure class="blog-thumbnail-cta">
          <img src="/images/5.png" alt="Blog Thumbnail" />
        </figure>
      </article>
      <article class="blog-content">
        <div class="blog-card">
          <div class="blog-card-description">
            <h3>Best Practices</h3>
            <p>
              Partiality on or <br />
              continuing particular<br />
              principles as.
            </p>
          </div>
          <figure class="blog-thumbnail">
            <img src="/images/1.png" alt="Blog Thumbnail" />
          </figure>
        </div>
        <div class="blog-card">
          <div class="blog-card-description">
            <h3>Best Practices</h3>
            <p>Village did removed enjoyed explain</p>
          </div>
          <figure class="blog-thumbnail">
            <img src="/images/2.png" alt="Blog Thumbnail" />
          </figure>
        </div>
        <div class="blog-card">
          <div class="blog-card-description">
            <h3>Best Practices</h3>
            <p>
              Wise busy past both <br />park when an ye no. <br />Nay likely her
              length.
            </p>
          </div>
          <figure class="blog-thumbnail">
            <img src="/images/3.png" alt="Blog Thumbnail" />
          </figure>
        </div>
      </article>
    </section>
  </body>
</html>
