<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/css/style.css" />
    <link href="https://fonts.cdnfonts.com/css/samsungone" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/92e2e30a2f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section class="software-partner">
      <h2>Over 32k+ software businesses growing with AR Shakir.</h2>

      <div class="partner-detail">
        <span class="partner-list">
          <img class="zeepelelin" src="/images/zeepline.png" alt="" />
          <h4>OpenZeepelin</h4>
        </span>
        <img class="oracle" src="/images/oracle.png" alt="" />
        <span class="partner-list">
          <img class="morpheus" src="/images/morpheous.png" alt="" />
          <h4>MORPHEUS</h4>
        </span>
        <img class="samsung" src="/images/Vector.png" alt="" />
        <span class="partner-list">
          <img class="monday" src="/images/mayday.png" alt="" />
          <h4>monday<span>.com</span></h4>
        </span>
        <span class="partner-list">
          <img class="segment" src="/images/segmentlogo.png" alt="" />
          <h4>segment</h4>
        </span>
        <span class="partner-list">
          <img class="protonet" src="/images/protonetlogo.png" alt="" />
          <h4>PROTONET</h4>
        </span>
      </div>
    </section>
  </body>
</html>
